workflow-json/AI Supply Chain Risk Intelligence Platform v1.json
{
  "name": "AI Supply Chain Risk Intelligence Platform v1",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6
            }
          ]
        }
      },
      "id": "a3372b6a-2568-4b8f-b9c3-99301b033f28",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1504,
        160
      ]
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=supply%20chain%20supplier%20shortage%20semiconductor&hl=en-US&gl=US&ceid=US:en",
        "options": {}
      },
      "id": "1e1e5336-9805-4769-9dcc-9774b68a2bbe",
      "name": "Fetch RSS News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1280,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "// Supplier list (fictional - for portfolio demonstration)\nconst suppliers = [\n  { id: 1, name: 'Apex Components Ltd', keywords: ['apex components', 'capacitor', 'inductor'] },\n  { id: 2, name: 'Nova Auto Parts Co', keywords: ['nova auto', 'automotive', 'auto parts', 'vehicle'] },\n  { id: 3, name: 'BioSource Materials', keywords: ['biosource', 'pharmaceutical', 'api ingredient', 'chemical'] },\n  { id: 4, name: 'ChipTech Global', keywords: ['chiptech', 'semiconductor', 'gpu', 'chip', 'microchip'] },\n  { id: 5, name: 'FastRoute Logistics', keywords: ['fastroute', 'logistics', 'freight', 'port', 'shipping'] }\n];\n\nconst rawText = $input.first().json.data || '';\n\n// Extract RSS item blocks\nconst items = rawText.match(/<item>[\\s\\S]*?<\\/item>/g) || [];\n\nfunction cleanXml(text) {\n  if (!text) return '';\n  return text\n    .replace(/<!\\[CDATA\\[/g, '')\n    .replace(/\\]\\]>/g, '')\n    .replace(/<[^>]*>/g, '')\n    .replace(/&amp;/g, '&')\n    .replace(/&quot;/g, '\"')\n    .replace(/&#39;/g, \"'\")\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction extractTag(item, tag) {\n  const regex = new RegExp(`<${tag}[^>]*>([\\\\s\\\\S]*?)<\\\\/${tag}>`, 'i');\n  const match = item.match(regex);\n  return match ? cleanXml(match[1]) : '';\n}\n\nconst results = [];\n\nfor (const item of items.slice(0, 10)) {\n  const title = extractTag(item, 'title');\n  const description = extractTag(item, 'description');\n  const link = extractTag(item, 'link');\n  const pubDate = extractTag(item, 'pubDate');\n\n  const combinedText = `${title}. ${description}`;\n  const lower = combinedText.toLowerCase();\n\n  let matchedSupplier = null;\n\n  for (const s of suppliers) {\n    if (s.keywords.some(k => lower.includes(k))) {\n      matchedSupplier = s;\n      break;\n    }\n  }\n\n  // Broad supply chain keywords for demo matching\n  if (!matchedSupplier && /semiconductor|supply chain|shortage|logistics|shipping|automotive|pharma|tariff|port/.test(lower)) {\n    matchedSupplier = suppliers.find(s => s.name === 'ChipTech Global') || suppliers[3];\n  }\n\n  if (matchedSupplier) {\n    results.push({\n      json: {\n        supplier_id: matchedSupplier.id,\n        supplier_name: matchedSupplier.name,\n        risk_title: title,\n        raw_text: combinedText,\n        source_type: 'rss',\n        source_url: link || 'https://news.google.com/rss',\n        event_date: pubDate ? new Date(pubDate).toISOString().split('T')[0] : new Date().toISOString().split('T')[0]\n      }\n    });\n  }\n}\n\n// Fallback sample for demo stability\nif (results.length === 0) {\n  results.push({\n    json: {\n      supplier_id: 4,\n      supplier_name: 'ChipTech Global',\n      risk_title: 'Sample semiconductor supply disruption',\n      raw_text: 'Sample: ChipTech Global reported a major semiconductor production shutdown in Taiwan. The disruption may delay critical microchip shipments for automotive and electronics customers.',\n      source_type: 'rss',\n      source_url: 'https://example.com/sample-news',\n      event_date: new Date().toISOString().split('T')[0]\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "d92ef0c0-1e8e-4ad9-b2b5-18421356847d",
      "name": "Clean and Match Supplier",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1056,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// OpenAI node output can be different depending on n8n settings\nconst aiRaw =\n   input?.output?.[0]?.content?.[0]?.text ||\n  input.message?.content ||\n  input.content ||\n  input.text ||\n  input.response ||\n  JSON.stringify(input);\n\nlet aiData;\n\ntry {\n  aiData = typeof aiRaw === 'string' ? JSON.parse(aiRaw) : aiRaw;\n} catch (e) {\n  aiData = {\n    risk_title: 'Parse error - manual review needed',\n    risk_category: 'Other',\n    severity_score: 1,\n    operational_impact_score: 1,\n    urgency_score: 1,\n    confidence_score: 0,\n    ai_summary: String(aiRaw).substring(0, 200),\n    recommended_action: 'Review raw AI output manually'\n  };\n}\n\nconst supplierData = $('Clean and Match Supplier').first().json;\n\nconst severity = Number(aiData.severity_score) || 1;\nconst impact = Number(aiData.operational_impact_score) || 1;\nconst urgency = Number(aiData.urgency_score) || 1;\n\nconst overall = (\n  severity * 0.40 +\n  impact * 0.35 +\n  urgency * 0.25\n).toFixed(2);\n\nreturn [{\n  json: {\n    supplier_id: supplierData.supplier_id,\n    supplier_name: supplierData.supplier_name,\n    source_type: supplierData.source_type,\n    source_url: supplierData.source_url,\n    event_date: supplierData.event_date,\n    risk_title: aiData.risk_title,\n    risk_category: aiData.risk_category,\n    severity_score: severity,\n    operational_impact_score: impact,\n    urgency_score: urgency,\n    overall_risk_score: parseFloat(overall),\n    confidence_score: Number(aiData.confidence_score) || 0,\n    ai_summary: aiData.ai_summary,\n    recommended_action: aiData.recommended_action\n  }\n}];\n"
      },
      "id": "97d40337-7533-4144-85db-00e9c71f1b37",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition-001",
              "leftValue": "={{ $json.overall_risk_score }}",
              "rightValue": 3.5,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "428f5c3b-48fc-44f2-8c27-4970650a5e3c",
      "name": "Check Risk Threshold",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -48,
        160
      ]
    },
    {
      "parameters": {
        "sendTo": "kssweets8@gmail.com",
        "subject": "=🚨 Supply Chain Risk Alert: {{ $json.supplier_name }} - Score {{ $json.overall_risk_score }}",
        "message": "=<h2>Supply Chain Risk Alert</h2><p><b>Supplier:</b> {{ $json.supplier_name }}</p><p><b>Risk:</b> {{ $json.risk_title }}</p><p><b>Category:</b> {{ $json.risk_category }}</p><p><b>Overall Risk Score:</b> {{ $json.overall_risk_score }} / 5.0</p><hr><p><b>AI Summary:</b><br>{{ $json.ai_summary }}</p><p><b>Recommended Action:</b><br>{{ $json.recommended_action }}</p><hr><p><i>Generated by AI Supply Chain Risk Intelligence Platform</i></p>",
        "options": {}
      },
      "id": "f46999d8-1464-4b7f-a28f-44473b71b419",
      "name": "Send Alert Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        208,
        0
      ],
      "webhookId": "b787fde3-8d24-4226-b9ae-5b6b43d9b3cc",
      "credentials": {
        "gmailOAuth2": {
          "id": "PzLj7u8rthD8eeUH",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://your-n8n-instance.app.n8n.cloud/webhook/log-risk-event",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "supplier_id",
              "value": "={{ $json.supplier_id }}"
            },
            {
              "name": "supplier_name",
              "value": "={{ $json.supplier_name }}"
            },
            {
              "name": "risk_title",
              "value": "={{ $json.risk_title }}"
            },
            {
              "name": "risk_category",
              "value": "={{ $json.risk_category }}"
            },
            {
              "name": "source_type",
              "value": "={{ $json.source_type }}"
            },
            {
              "name": "source_url",
              "value": "={{ $json.source_url }}"
            },
            {
              "name": "event_date",
              "value": "={{ $json.event_date }}"
            },
            {
              "name": "severity_score",
              "value": "={{ $json.severity_score }}"
            },
            {
              "name": "operational_impact_score",
              "value": "={{ $json.operational_impact_score }}"
            },
            {
              "name": "urgency_score",
              "value": "={{ $json.urgency_score }}"
            },
            {
              "name": "confidence_score",
              "value": "={{ $json.confidence_score }}"
            },
            {
              "name": "ai_summary",
              "value": "={{ $json.ai_summary }}"
            },
            {
              "name": "recommended_action",
              "value": "={{ $json.recommended_action }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2a093f19-4215-4344-9334-e747277f80af",
      "name": "Log to SQL via Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        304
      ],
      "disabled": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are a supply chain risk analyst.\n\nAnalyze the given supplier risk news and return ONLY valid JSON.\n\nRequired JSON fields:\n- risk_title\n- risk_category\n- severity_score\n- operational_impact_score\n- urgency_score\n- confidence_score\n- ai_summary\n- recommended_action\n\nRules:\n- severity_score: 1-5\n- operational_impact_score: 1-5\n- urgency_score: 1-5\n- confidence_score: 0-100\n- Return only JSON\n- No markdown\n- No explanation"
            },
            {
              "content": "=Supplier: {{ $json.supplier_name }}\nText: {{ $json.raw_text }}"
            }
          ]
        },
        "simplify": false,
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -816,
        160
      ],
      "id": "c030f432-95cb-453b-abcd-c1f878021caa",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "kA9mS5H3GRsW03H8",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1-fE9-28SyBdpfEGrnjIriiJQcezZ-NokwKbjcBVInHQ",
          "mode": "list",
          "cachedResultName": "risk_events",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-fE9-28SyBdpfEGrnjIriiJQcezZ-NokwKbjcBVInHQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-fE9-28SyBdpfEGrnjIriiJQcezZ-NokwKbjcBVInHQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "event_date",
              "displayName": "event_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "supplier_id",
              "displayName": "supplier_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "supplier_name",
              "displayName": "supplier_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "risk_title",
              "displayName": "risk_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "risk_category",
              "displayName": "risk_category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "severity_score",
              "displayName": "severity_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "operational_impact_score",
              "displayName": "operational_impact_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "urgency_score",
              "displayName": "urgency_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "overall_risk_score",
              "displayName": "overall_risk_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "confidence_score",
              "displayName": "confidence_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ai_summary",
              "displayName": "ai_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "recommended_action",
              "displayName": "recommended_action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source_type",
              "displayName": "source_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source_url",
              "displayName": "source_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -256,
        160
      ],
      "id": "52e27990-5c33-4acc-958c-81aec8cfbf59",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LH8SO7v8lkxcdq9T",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch RSS News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch RSS News": {
      "main": [
        [
          {
            "node": "Clean and Match Supplier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean and Match Supplier": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Risk Threshold": {
      "main": [
        [
          {
            "node": "Send Alert Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log to SQL via Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Check Risk Threshold",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b53a8acf-ab2f-41ad-9e87-738bed0cfb75",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ee5daa325b3f448f877bf7d6d666ab970928312cd2aa48e93185c0c23464926b"
  },
  "id": "bgp4QQTqBReqPHP5",
  "tags": []
}